extends base

block content
    span 해낼 일
    form(method="POST", action="/todos").todo-form
        if todo1
            input(type="text", name="todo1", placeholder="1.", value=todo1.todo, data-id=todo1._id).todo-form__todo
        else 
            input(type="text", name="todo1", placeholder="1.").todo-form__todo
        if todo2
            input(type="text", name="todo2", placeholder="2.", value=todo2.todo, data-id=todo2._id).todo-form__todo
        else 
            input(type="text", name="todo2", placeholder="2.").todo-form__todo
        if todo3
            input(type="text", name="todo3", placeholder="3.", value=todo3.todo,data-id=todo3._id).todo-form__todo
        else 
            input(type="text", name="todo3", placeholder="3.").todo-form__todo
        if todo4
            input(type="text", name="todo4", placeholder="4.", value=todo4.todo, data-id=todo4._id).todo-form__todo
        else 
            input(type="text", name="todo4", placeholder="4.").todo-form__todo
        if todo5
            input(type="text", name="todo5", placeholder="5.", value=todo5.todo, data-id=todo5._id).todo-form__todo
        else 
            input(type="text", name="todo5", placeholder="5.").todo-form__todo
        input(type="submit" value="저장하기")
    //-
        form(method="POST", action="/details")
            span 할 일 쪼개기
            input(type="text", placeholder="1.", name="detail1")
            input(type="text", placeholder="2.", name="detail2")
            input(type="text", placeholder="3.", name="detail3")
            input(type="text", placeholder="4.", name="detail4")
            input(type="text", placeholder="5.", name="detail5")
            input(type="submit" value="저장하기")
block scripts 
    script(src="/static/js/details.js")