extends base

block content
    div.todo-box
        div
            span 해낼 일
            form(method="POST", action="/todos").todo-form
                if todo1
                    div.todo-form__todo
                        input(type="text", name="todo1", placeholder="1.", value=todo1.todo, data-id=todo1._id, disabled=todo1.disabled)
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo1", placeholder="1.")
                        button ✔️
                if todo2
                    div.todo-form__todo
                        input(type="text", name="todo2", placeholder="2.", value=todo2.todo, data-id=todo2._id)
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo2", placeholder="2.")
                        button ✔️
                if todo3
                    div.todo-form__todo
                        input(type="text", name="todo3", placeholder="3.", value=todo3.todo,data-id=todo3._id)
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo3", placeholder="3.")
                        button ✔️
                if todo4
                    div.todo-form__todo
                        input(type="text", name="todo4", placeholder="4.", value=todo4.todo, data-id=todo4._id)
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo4", placeholder="4.")
                        button ✔️
                if todo5
                    div.todo-form__todo
                        input(type="text", name="todo5", placeholder="5.", value=todo5.todo, data-id=todo5._id)
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo5", placeholder="5.")
                        button ✔️
                input(type="submit" value="저장하기")
        div.percentage-box
            canvas(width="300", height="300")#percentChart
            span 0%
    
    div.detail-form
    div#updateChart
    //-
        form(method="POST", action="/details")
            span 할 일 쪼개기
            input(type="text", placeholder="1.", name="detail1")
            input(type="text", placeholder="2.", name="detail2")
            input(type="text", placeholder="3.", name="detail3")
            input(type="text", placeholder="4.", name="detail4")
            input(type="text", placeholder="5.", name="detail5")
            input(type="submit" value="저장하기")

block scripts 
    script(src="/static/js/todo.js")
    script(src="/static/js/chart.js")
    script(src="/static/js/details.js")