extends base

block content
    div.todo-box
        div.todo-chart.chart
            div.todo-chart__total-chart
                div.todo-chart__status-chart
                    span 0%
        div.todo-wrapper
            span 해낼 일
            form(method="POST", action="/todos").todo-form
                if todo1
                    div.todo-form__todo
                        input(type="text", name="todo1Trigger", placeholder="구체적으로 언제, 어디서 할지 적어보세요!", value=todo1.todoTriggerValue autocomplete="off", spellcheck="false" disabled=todo1.disabled)
                        input(type="text", name="todo1", placeholder="첫번째는 쉬운 일로 시작해보세요!", value=todo1.todo, data-id=todo1._id, disabled=todo1.disabled, autocomplete="off", spellcheck="false")
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo1Trigger", placeholder="구체적으로 언제, 어디서 할지 적어보세요!" autocomplete="off", spellcheck="false")
                        input(type="text", name="todo1", placeholder="첫번째는 쉬운 일로 시작해보세요!", autocomplete="off", spellcheck="false")
                        button ✔️
                if todo2
                    div.todo-form__todo
                        input(type="text", name="todo2Trigger", placeholder="행동계기 2", value=todo2.todoTriggerValue autocomplete="off", spellcheck="false" disabled=todo2.disabled)
                        input(type="text", name="todo2", placeholder="2.", value=todo2.todo, data-id=todo2._id, disabled=todo2.disabled, autocomplete="off", spellcheck="false")
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo2Trigger", placeholder="행동계기 2" autocomplete="off", spellcheck="false")
                        input(type="text", name="todo2", placeholder="2.", autocomplete="off", spellcheck="false")
                        button ✔️
                if todo3
                    div.todo-form__todo
                        input(type="text", name="todo3Trigger", placeholder="행동계기 3", value=todo3.todoTriggerValue autocomplete="off", spellcheck="false" disabled=todo3.disabled)
                        input(type="text", name="todo3", placeholder="3.", value=todo3.todo,data-id=todo3._id, disabled=todo3.disabled, autocomplete="off", spellcheck="false")
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo3Trigger", placeholder="행동계기 3" autocomplete="off", spellcheck="false")
                        input(type="text", name="todo3", placeholder="3.", autocomplete="off", spellcheck="false")
                        button ✔️
                if todo4
                    div.todo-form__todo
                        input(type="text", name="todo4Trigger", placeholder="행동계기 4", value=todo4.todoTriggerValue autocomplete="off", spellcheck="false" disabled=todo4.disabled)
                        input(type="text", name="todo4", placeholder="4.", value=todo4.todo, data-id=todo4._id, disabled=todo4.disabled, autocomplete="off", spellcheck="false")
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo4Trigger", placeholder="행동계기 4" autocomplete="off", spellcheck="false")
                        input(type="text", name="todo4", placeholder="4.", autocomplete="off", spellcheck="false")
                        button ✔️
                if todo5
                    div.todo-form__todo
                        input(type="text", name="todo5Trigger", placeholder="행동계기 5", value=todo5.todoTriggerValue autocomplete="off", spellcheck="false" disabled=todo5.disabled)
                        input(type="text", name="todo5", placeholder="5.", value=todo5.todo, data-id=todo5._id, disabled=todo5.disabled, autocomplete="off", spellcheck="false")
                        button ✔️
                else 
                    div.todo-form__todo
                        input(type="text", name="todo5Trigger", placeholder="행동계기 5" autocomplete="off", spellcheck="false")
                        input(type="text", name="todo5", placeholder="5.", autocomplete="off", spellcheck="false")
                        button ✔️
                input(type="submit" value="저장하기")#submitTodo
        
    div.detail-box
        div.detail-chart.chart
        div.detail-form
    

block scripts 
    script(src="/static/js/todo.js")
    script(src="/static/js/todoChart.js")
    script(src="/static/js/details.js")
    